@font-face {
    font-family: 'jenna_sueregular';
    src: url('/assets/jennasue-webfont.eot');
    src: url('/assets/jennasue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/jennasue-webfont.woff2') format('woff2'),
         url('/assets/jennasue-webfont.woff') format('woff'),
         url('/assets/jennasue-webfont.ttf') format('truetype'),
         url('/assets/jennasue-webfont.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}