 html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;
  height:100%;
  background-position:center;
  background-size: cover;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", 
  Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
 } 

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.divider{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: -59px;
  padding: 0;
  color: #ffffff;
  font-weight: bold;
}

.divider .row div{
  padding: 20px;
}
.one{
  background-color: #44BF6B;
  background-color: rgba(51,193,48,.8);
}

.two{
  background-color: #33C130;
  background-color: rgba(51, 193, 48, .8); 
}
.three{
  background-color: #12CF4D;
  background-color: rgba(18, 207, 77, .8);
}
.four{
  background-color: #34FA74;
  background-color: rgba(106, 186, 38, .8);
}

.fill{
  padding: 0;
}

.navbar-default {
	background-image: none;
	background-color: rgba(255,255,255,.4);
  border-bottom: none;  
  color: #ffffff;
}

.navbar-default .navbar-brand{
	color: #6ABA26;
	font-size: 20px;
  padding-bottom: 20px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.paginate {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.field_with_errors {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 8px;
}


#map {
  height: 300px;
}

.clear {
  clear: both;
}

.comment{
  font-size: 5px;
}


/*MEDIA QUERIES*/

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
  body {
    padding-left: 0;
    padding-right: 0;
  }
}








